@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f2fdff;
    --foreground: #263238;
    --primary: #607d8b;
    --primary-foreground: #eceff1;
    --secondary: #cfd8dc;
    --secondary-foreground: #263238;
    --card: #ddf0e3;
    --card-foreground: #263238;
    --card-new: #feffdc;
    --muted: #566268;
    --muted-foreground: #eceff1;
    --accent: #bbbdbe;
    --accent-foreground: #eceff1;
    --border: #b0bec5;
    --input: #ffffff;
    --ring: #607d8b;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.nFont {
    font-family: system-ui;
    font-weight: 200;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: var(--card-new);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.page-container {
    width: 80%;
    height: 84vh;
    margin: 2.5rem auto;
    display: flex;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin-bottom: 2rem;
}

.submit-div {
    color: var(--foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 0.95rem;
    width: 95%;
}

.button {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--primary-foreground);
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.button:hover {
    background-color: white;
    color: var(--primary);
}

.submit-div a {
    color: var(--foreground);
    text-decoration: none;
    margin-right: 5.1rem;
}

.submit-div a:hover {
    text-decoration: underline;
}

.input {
    width: 20rem;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: var(--input);
    color: var(--foreground);
}

.input:focus {
    outline: 1px solid black;
}

.float-label {
    opacity: 0;
    position: absolute;
    left: 3.3rem;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;
    transform: translateY(0);
}

.floating-label .input:focus + .float-label,
.floating-label .input:not(:placeholder-shown) + .float-label {
    border-radius: 3px;
    padding: 4px 4px;
    opacity: 100;
    background: linear-gradient(to bottom, var(--card-new) 40%, var(--input) 70%);
    font-size: 0.75rem;
    color: var(--foreground);
    transform: translateY(-1.1rem);
}

.floating-label .input:focus::placeholder {
    color: var(--input);
    transition: all 0.3s ease;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    z-index: 9999;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid var(--foreground);
    border-top: 5px solid var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.alert {
    font-size: .8rem;
    padding: 10px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert strong {
    font-weight: bold;
}


.btn-primary {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--primary-foreground);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-secondary {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.content-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    font-size: 1.2rem;
    color: var(--foreground);
}

.slide-up {
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.slide-up-delay {
    animation: slideUp 0.8s ease-out 0.2s forwards;
}

.slide-up-delay-2 {
    animation: slideUp 0.8s ease-out 0.4s forwards;
}

.slide-up-delay-3 {
    animation: slideUp 0.8s ease-out 0.6s forwards;
}

.fade-in {
    animation: fadeIn 0.8s ease-out 0.8s forwards;
}


.heading > div:nth-child(2) > p {
    animation-delay: 0.05s;
}

.heading > div:nth-child(3) > p {
    animation-delay: 0.075s;
}

.heading > div {
    overflow: hidden;
}

.heading > div > p {
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}


.feature-card {
    background-color: var(--card);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 20rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.feature-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--card-foreground);
}

.feature-card p {
    color: var(--card-foreground);
}

.landing-container {
    height: 90vh;
}

.main-title {
    font-size: 3.75rem;
}

.risk-text {
    font-size: 6rem;
    color: #22c55e;
}

.subtitle {
    font-size: 1.875rem;
}

.button-group {
    gap: 1.25rem;
    margin-top: 2.5rem;
}

.stocks-found {
    height: 50vh;
    overflow-y: auto;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
}

.stock-longname {
    font-family: "Arial", sans-serif;
    font-size: 0.67rem;
    margin-top: 0.2rem;
    font-weight: 100;
}

.font2 {
    font-family: "Helvetica", sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.feature-card-animation {
    opacity: 0;
    animation: cardSlideUp 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.feature-card-animation:nth-child(1) {
    animation-delay: 0.2s;
}

.feature-card-animation:nth-child(2) {
    animation-delay: 0.4s;
}

.feature-card-animation:nth-child(3) {
    animation-delay: 0.6s;
}

.feature-card-animation:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes cardSlideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    margin: 2px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

::-webkit-scrollbar-button {
    display: none;
}

